#nav{
	display:flex;
	padding-top:1px;
	padding-bottom:1px;
	height:60px;
	width:100%;	
	position:sticky;
	left:0;
	right:0;
	background-color:black;
}
#nav span{
	width:20%;
	cursor:pointer; 
	background-color:black;
	border: 1px solid;
}
#nav a{
	text-decoration:none;
	font-family:Arial, sans-sarif;
	color:white;
	font-size:26px;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
	font-weight:1000;
}
#nav a:hover{
	color:red;
	font-size:26px;
	margin-top:-2px;
	margin-bottom:-2px;
	}	
	
#header{
	width:90%;
	background-image:url('hfl.jpg');
	height:430px;
	background-size:cover;
	display:flex;
	margin:auto;
	border-radius:15px;
	margin-top:5px;
	margin-bottom:5px;
}
#header a{
	text-decoration:none;
	font-family:Arial, sans-sarif;
	color:white;
	display:block;
	font-weight:1000;
}
#header a:hover{
	color:black;	
}

#sa p{
	background-color:black;
	border-radius:15px;
	margin:auto;
	display:block;
	color:white;
	text-align:center;
	font-size:20px;
	width:90%;
	align-content:center;
	font-weight:700;
	margin-bottom:5px;
	padding-top:5px;
	padding-bottom:5px;
	
} 








!-----------------------------------------------------------------------------IMAGES-------------------------------------------------------------------------!
#images{
width:1000px;
display:flex;
justify-content:center;
gap:10px;
padding-top:5px;
padding-bottom:5px;
}

#images div{
cursor:pointer;
display:inline;
width:250px;
height:250px;
border-radius:8px;
overflow:hidden;
padding-top:5px;
padding-bottom:5px;
	}
	
#images div img{
	width:250px;
height:250px;
	object-fit:cover;
	display: inline;
}	



